# Django
Django==5.2.8
django-tailwind==3.8.0

# Database
psycopg2-binary==2.9.9

# Asenkron Görevler
celery==5.4.0
redis==5.0.1

# Google AI
google-generativeai==0.7.2

# RSS Parsing
feedparser==6.0.10

# Image Processing
Pillow==11.0.0

# HTTP Requests
requests==2.31.0

# Environment Variables
python-dotenv==1.0.0

# Web Server
gunicorn==23.0.0

# Utilities
python-slugify==8.0.1
django-celery-beat==2.5.0
